<template>
    <div>
        <h1>LogIn </h1>
        <p>
            Don't have an account?
            <a href="/signup"> <strong>SignUp Here</strong></a>
        </p>
        <strong>
            <p>
                Email:
                <input type="text" name="femail"><br>
            </p>
            <p>
                Password
                <input type="text" name="fpassword"><br>
            </p>
            <button @click="loginButton">Login</button>
        </strong>
    </div>
</template>


