<template>
    <div>
        <nav-menu></nav-menu>
        <h5>Here is a list of people you have worked with:</h5>
        <v-layout>
            <v-flex>
                <ul v-if="isLoaded">
                    <li v-for="user in users">
                        Name: {{ user.FirstName }} {{ user.LastName }}
                        Email: {{ user.Email }}
                    </li>
                </ul>
            </v-flex>
        </v-layout>
    </div>
</template>

<script src="./listOfUsersWorkedWith.ts"></script>

