<template>
        
    <v-app id='app-root' class="container-fluid">
        <v-parallax dark
                    height="700" width="900"
                    src="https://cdn.hipwallpaper.com/i/72/59/5LpN7l.jpg"
            >
        <div class="row">

            <div class="col-sm-3">
                <nav-menu></nav-menu>
            </div>

            <div class="col-sm-9">
                <router-view></router-view>
            </div>

        </div>
    </v-parallax>
    </v-app>

</template>
<script src="./app.ts"></script>
