<template>
    <div v-if="isLoaded" class="main-nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TUTORized</a>
            </div>
            <div class="clearfix"></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <router-link v-if="isStudent || isTutor" to="/listAppointments">
                            Calendar
                        </router-link>
                    </li>
                    <li>
                        <router-link v-if="isStudent" to="/ListOfUsersWorkedWith">
                            Tutors I Have Worked With
                        </router-link>
                    </li>
                    <li>
                        <router-link v-if="isTutor" to="/ListOfUsersWorkedWith">
                            Students I Have Worked With
                        </router-link>
                    </li>
                    <li>
                        <router-link v-if="isStudent" to="/scheduleAppointment">
                            Schedule An Appointment
                        </router-link>
                    </li>
                    <li>
                        <router-link v-if="isTutor" to="/makeSchedule">
                            Create New Appointment
                        </router-link>
                    </li>
                    <li>
                        <router-link v-if="isTutor || isStudent" to="/chat">
                            Chat
                        </router-link>
                    </li>
                    <li>
                        <router-link v-if="isTutor" to="/upgradeStudentToTutor">
                            Approve New Tutors
                        </router-link>
                    </li>
                    <li>
                        <router-link v-if="isLoggedIn" to="/logout" @click.native="logOut">
                            Log Out
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script src="./navmenu.ts"></script>
<style src="./navmenu.css"></style>
