<template>
    <div>
        <h1>SignUp</h1>
        <p>
            Already have an account?
            <a href="/"> <strong>Login Here</strong></a>
        </p>
        <strong>
            <p>
                Email:
                <input type="text" name="femail"><br>
            </p>
            <p>
                Password
                <input type="text" name="fpassword"><br>
            </p>
            <p>
                Confirm Password
                <input type="text" name="fconpassword"><br>
            </p>
            <button @click="signUpButton">SignUp</button>
          </strong>
    </div>
</template>
