<template>
  <div>
    <nav-menu></nav-menu>

    <h5>Select a user to chat with, write a message and send that message:</h5>

    <!--This lists all the students a tutor has worked with-->
    <v-layout>
        <v-flex xs12 md8 lg6>
            <v-select id="selected"
                      v-model="selectedUser.id"
                      :items="users"
                      item-text="email"
                      item-value="id"
                      label="Select A User To Message:">
            </v-select>
        </v-flex>
    </v-layout>

        
            <!--UPLOAD-->
                <form enctype="multipart/form-data" novalidate >
                  <h1>Upload images</h1>
                  <div class="dropbox">
                    <input type="file" multiple :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                      accept="image/*" class="input-file">
                      <p >
                        Drag your file(s) here to begin<br> or click to browse
                      </p>
                      <p>
                        Uploading {{ fileCount }} files...
                      </p>
                  </div>
                </form>


 


  </div>
</template>

<script src="./resources.ts"></script>
<script src="./resources.js"></script>