

<template>
    <div>
            <nav-menu></nav-menu>
                <p>File Upload:</p>
                <input type="file">
                <v-layout>
                        <v-flex xs12 md8 lg6>
                            <v-actions>
                                <v-btn @click="upload">Upload</v-btn>
                            </v-actions>
                        </v-flex>
                    </v-layout>
                </div>

</template>
<script src="./sharing.ts"></script>
        
        
        