<template>
    <div>
        <nav-menu></nav-menu>
        <h5>Select a user to chat with, write a message and send that message:</h5> 

        

        <v-layout>
                <v-flex xs12 md8 lg6>
                    
                    <v-select v-model="user.id"
                              :items="users"
                              item-text="email"
                              item-value="user.id"
                              label="Select A Member To Chat With:">
                    </v-select>
                    
                </v-flex>
        </v-layout>

        

        <!--
        <v-layout>
            <v-flex>
                <div v-if="isLoaded">
                        <ul v-if="users.length != 0">
                            <v-list v-for="user in users">
                                <input type="radio" class="radioClass" name="usersNames" value="0"> {{ user.firstName}} {{ user.lastName }}
                                
                            </v-list>
                        </ul>
                    
                        <ul v-else>
                            Sorry, you have not worked with anyone yet.
                        </ul>

                </div>
            </v-flex>
        </v-layout>
    -->

        <label>Message:</label>
        <input type="text" />
    
        <v-btn flat @click="chatFunction">Send!</v-btn>

    </div>
</template>
<script src="./chat.ts"></script>
