<template>
    <div>
        <nav-menu></nav-menu>
        <v-layout align-space-around justify-center row fill-height>
            <v-flex>
                <v-date-picker v-model="date"
                               full-width
                               landscape
                               class="mt-3">
                </v-date-picker>
            </v-flex>
        </v-layout>
        <h5>List of your scheduled appointments: (Please use the calendar above for date referances.)</h5>
        <v-layout>
            <v-flex>
                <ul v-if="isLoaded">
                    <li v-for="event in events">
                        {{ itemText(event.date) }} for {{ event.duration }} mins in
                        {{ event.subject }}: 
                        Student- {{ event.studentFirstName }}
                        {{ event.studentLastName }} &
                        Tutor- {{ event.tutorFirstName }}
                        {{ event.tutorLastName }}
                    </li>
                </ul>
            </v-flex>
        </v-layout>
    </div>
</template>

<script src="./calendar.ts">
    export default {
        data: () => ({
            date: '2018-03-02'
        })
    }
</script>

