<template>
    <div>
        <v-layout justify-space-between wrap>
         <v-container grid-list-xl text-xs-center>
            <v-flex xs12 class="my-3">
                <v-date-picker
                    v-model="date"
                    full-width
                    landscape
                    class="mt-3"
                    color=#90A4AE>
                </v-date-picker>
            </v-flex>
             <v-flex xs12>
             <v-card>
                <v-card-title>Avaliable Appointments: </v-card-title>
                    <v-card-text>
                        <v-list>
                            <v-list-tile v-for="item in appointments" :key="item.id">
                                    Student name: {{item.studentFirstName}} {{item.studentLastName}}
                                    Tutor name: {{item.tutorFirstName}} {{item.tutorLastName}}
                                    Date: {{item.date}}
                                    Duration: {{item.duration}}
                                    Tutor: {{item.tutorFirstName}} {{item.tutorLastName}}
                            </v-list-tile>
                        </v-list>
                    </v-card-text>
            </v-card>
            </v-flex>
        </v-container>
        </v-layout>
    </div>

</template>
      
<script src="./calender.ts">
