<template>
    <div>
        <v-layout align-space-around justify-center row fill-height>
            <v-flex>
                <v-date-picker v-model="date"
                               full-width
                               landscape
                               class="mt-3">
                </v-date-picker>
            </v-flex>
        </v-layout>
        <h5>List of your scheduled appointments:</h5>
        <v-layout>
            <v-flex xs12 md8 lg6>
                <ul v-if="isLoaded">
                    <li v-for="event in events">
                        {{ event.event }}
                    </li>
                </ul>
            </v-flex>
        </v-layout>
    </div>
</template>

<script src="./calendar.ts">
    export default {
        data: () => ({
            date: '2018-03-02'
        })
    }
</script>


<!--<template>
    <div>
        <v-layout justify-space-between wrap>
         <v-container grid-list-xl text-xs-center>
            <v-flex xs12 class="my-3">
                <v-date-picker
                    v-model="date"
                    full-width
                    landscape
                    class="mt-3"
                    color=#90A4AE>
                </v-date-picker>
            </v-flex>
             <v-flex xs12>
                <v-card>
                    <v-card-title>Your Current Appointments: </v-card-title>
                        <v-card-text>
                            <v-list>
                                <v-list-tile v-for="item in appointments" :key="item.id">
                                        <li> Student: {{item.studentFirstName}} {{item.studentLastName}}</li>
                                        <li> Tutor: {{item.tutorFirstName}} {{item.tutorLastName}}</li>
                                        <li> Date: {{item.date}}</li>
                                        <li> Duration: {{item.duration}}</li>
                                        <li> Subject: {{item.subject}}</li>
                                </v-list-tile>
                            </v-list>
                        </v-card-text>
                </v-card>
            </v-flex>
        </v-container>
        </v-layout>
    </div>

</template>
      
<script src="./calender.ts">-->
